<!DOCTYPE html>

<html lang="en">
	<head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
		<title>Books App</title>
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
        <div id="headerContainer">
            <div id="headerBookContainer">
                <div id="headerBookTitle"><%= bookTitle %></div>
                <div id="headerBookInfo">by <%= bookAuthor %>, <%= bookDate %></div>
            </div>
            <div id="menuContainer">
                <div class="clearfix">
                    <span class="menuIcon">&#9776</span>
                </div>
                <div class="menuOptions displayNone">
                    <span class="menuInfo">Review</span>
                    <div class="menuOption">
                        <a href="/info/<%= bookId %>" class="menuLink">Info</a>
                        <span class="menuArrow">&#60;&#60;</span>
                    </div>
                    <div class="menuOption">
                        <a href="/results" class="menuLink">Results</a>
                        <span class="menuArrow">&#60;&#60;&#60;</span>
                    </div>
                    <div class="menuOption">
                        <a href="/" class="menuLink">Search</a>
                        <span class="menuArrow">&#60;&#60;&#60;&#60;</span>
                    </div>
                    <span class="menuInfo">Signed in as <%= username %></span>
                    <div class="menuOption">
                        <a href="/signOut" class="menuLink">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="bookContainer">
            <div id="reviewTitle">Review by <%= username %> on <%= date %></div>
            <form id="reviewForm" action="/writeReview/<%= bookId %>" method="post">
                <div id="reviewLeftContainer">
                    <div class="reviewLeftBox">
                        <div>State the Main Problem the Book Seeks to Solve</div>
                        <!-- <input name="problem" required maxlength="100" style="display: block; margin: auto;" /> -->
                        <textarea id="reviewProblemInput" name="problem" required maxlength="100" cols="30" rows="3"></textarea>
                    </div>
                    <div class="reviewLeftBox">
                        <!-- <span style="display: block;">Rate the Book on its Solution(s) to the Problem</span>
                        <input id="rating" name="rating" list="ratings" type="number" required style="width: 25px;" maxlength="1" min="1" max="5" />
                        <span> / 5</span> -->
                        <label for="reviewRatingInput">Rate the Book on How Well it Solves the Above Problem</label><br>
                        <select id="reviewRatingInput" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><span> / 5</span>
                    </div>
                </div>
                <div id="reviewRightContainer">
                    <div>Summarize the Book</div>
                    <textarea id="reviewSummaryInput" name="summary" required maxlength="500" cols="50" rows="9"></textarea>
                </div>
                <input id="reviewSubmitButton" type="submit" value="Submit"/>
                <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
            </form>
        </div>
	</body>
    <script src="/js/menu.js"></script>
</html>